<%- include('../partials/header') %>
<h1>Flight Information</h1>

<div>Airline: <%= flight.airline %></div>
<div>Flight Number: <%= flight.flightNo %></div>
<div>Departs: <%= flight.departs %></div>
<div>Airport: <%= flight.airport %></div>
<% flight.destinations.forEach(function(d) { %>
<div>Destination Airport: <%= d.airport %></div>
<div>Arrival Date: <%= d.arrival %></div>
<% }); %>

<h2>Tickets</h2>
<table>
    <thead>
    <tr>
        <th>Seat</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
<% tickets.forEach(function(t) { %>
<tr>
    <td><%=t.seat %></td>
    <td><%=t.price%></td>
</tr>
<%});%>
    </tbody>
    </table>

<h2>Destination</h2>
<form action="/flights/<%= flight.id %>" method="POST">
    <label>Airport
        <select name="airportDest">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
    </label>

    

    <label>Date
        <input type="date" name="arrival">
    </label>
    <input type="submit" value="Update Destination">
</form>

<a href="/flights/<%= flight.id %>/tickets/new">New Ticket</a>


<%- include('../partials/footer') %>
